<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Demo SPA</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/spa.js' %}"></script>
</head>
<body>
	<nav>
		<span class="title">Transcendence</span>
		<a href="/" data-link>Home</a>
		<a href="/pong" data-link>Pong</a>
		<a href="/pong/pong2d" data-link>Pong2D</a>
		<a href="/userManager" data-link>User</a>
		<a href="/database" data-link>Database</a>
		<a href="/admin" data-link>Admin</a>
		<!-- <a href="/about" data-link>About</a>
		<a href="/test" data-link>Test</a> -->
	</nav>
	<main>

	</main>
	<footer>Made in 2024 with ❤️</footer>
</body>
</html>
