<h1>Transcendance</h1>
<h3>Le jeu</h3>
<p class="home"> Notre jeu s'inspire du classique Pong, mais se distingue par une mécanique unique :
    la direction et la vitesse de la balle ne dépendent plus de l'endroit où elle frappe le paddle, mais de la manière dont vous déplacez ce dernier. 
    Si vous déplacez le paddle dans la même direction que la trajectoire de la balle, celle-ci gagne en vitesse, rendant le jeu plus intense et stratégique.
</p>

<h3>But</h3>
<p class="home">Comme dans le Pong traditionnel, l’objectif est de renvoyer la balle et de marquer des points en la faisant passer derrière le paddle de l’adversaire. Le joueur qui atteint 5 points remporte la partie.</p>

<h3>Commandes</h3>
<ul id="commandesJeu" class="home">
    <li>Le joueur 1 se déplace avec <inline>W</inline> et <inline>S</inline>.</li>
    <li>Le joueur 2 se déplace avec <inline>↑</inline> et <inline>↓</inline>.</li>
    <li>Pour mettre la partie en pause, il suffit d'appuyer sur <inline>espace</inline>.</li>
    <li>Le jeu peut être quitté en appuyant sur <inline>échap</inline>, puis en cliquant sur le texte qui apparaît.</li>
    <li>Le menu est navigable à la souris, mais aussi au clavier en utilisant les flèches directionnelles et en confirmant avec <inline>entrée</inline>.</li>
</ul>
