<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
<p>
	Lorem <a href="#">ipsum</a> dolor sit amet consectetur adipisicing elit. Eos ratione numquam, cumque sequi excepturi porro, quaerat qui dolore fuga maxime quos odio facere repudiandae praesentium quibusdam vitae voluptatum pariatur nulla?
</p>
<b>Un texte</b> <strong>en gras</strong>
<u>Un texte sous ligné</u>
<i>Un texte en italique</i>
<s>Un texte barré</s>
<a href="http://perdu.com">Un lien</a>
<ul>
	<li>one</li>
	<li>two
		<ul>
			<li>two sub one</li>
			<li>two sub two</li>
		</ul>
	</li>
	<li>three</li>
</ul>
<ol>
	<li>one</li>
	<li>two
		<ol>
			<li>two dot one</li>
			<li>two dot two</li>
		</ol>
	</li>
	<li>three</li>
</ol>
