<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalPage" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="loginModalPage">Welcome back!</h5>
		<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<form id="loginForm">
			{% csrf_token %}
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input type="text" class="form-control" id="username" name="username" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
	</div>
</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Sélectionnez le formulaire par son id
		var loginForm = document.getElementById("loginForm");
	
		loginForm.addEventListener("submit", function(event) {
			event.preventDefault(); // Empêche le rechargement de la page
	
			// Récupérez les données du formulaire
			var formData = new FormData(loginForm);
	
			// Envoyez les données du formulaire à l'API de connexion
			fetch("/api/login/", {
				method: "POST",
				body: formData
			})
			.then(response => response.json() {
				if (response.status == 200) {
					alert("You are now logged in");
				} else {
					alert("Invalid username or password");
				}
			})
			.catch(error => console.error('Erreur:', error));
		});
	});
</script>