<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="createAccountModalPage" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createAccountModalPage">Please, tel us who you are</h5>
				<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class"form-group" action="" method="post">
					{% comment %} {% csrf_token %} {% endcomment %}
					<h1>TODO mdr</h1>
					<input type="submit" class="btn btn-primary" value="Signup">
				</form>
			</div>
		</div>
 	</div>
</div>
	  