<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--     <title>Pong Game Menu</title> -->
<!-- </head> -->
<!-- <body> -->
    <h1>Pong Game</h1>
    <p>Welcome to the Pong Game! You can start playing without logging in.</p>
    <!-- <a href="{% url 'game' %}" data-link>Start Game</a> -->
    <a href="/pong/game" data-link>Start Game</a>
<!-- </body> -->
<!-- </html> -->
