{% load static %}
<link rel="stylesheet" href="{% static 'pong/css/style.css' %}"><title>Pong 3D</title>
<div class="d-sm-none inline">Please somehow make your screen bigger (or turn your phone to landscape mode)</div>
<div id="container_game" class="container d-none d-sm-block ratio mx-auto shadow bg-body-primary mx-auto mw-auto px-0 mb-100" style="min-width: 95%; min-height: 90%; max-width: 92%; max-height: 95%; --bs-aspect-ratio: 50%;">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="spinner-grow" style="width: 30rem; height: 30rem; color: #4900ff" role="status" id="fidget-spinner">

            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div id="camera-control-panel">
    <h3>Camera Control</h3>
    <label for="camera-pos-x">Pos X:</label>
    <input id="camera-pos-x" type="number" step="1" value="0"><br>
    <label for="camera-pos-y">Pos Y:</label>
    <input id="camera-pos-y" type="number" step="1" value="0"><br>
    <label for="camera-pos-z">Pos Z:</label>
    <input id="camera-pos-z" type="number" step="1" value="0"><br>
    <label for="camera-lookat-x">LookAt X:</label>
    <input id="camera-lookat-x" type="number" step="1" value="0"><br>
    <label for="camera-lookat-y">LookAt Y:</label>
    <input id="camera-lookat-y" type="number" step="1" value="0"><br>
    <label for="camera-lookat-z">LookAt Z:</label>
    <input id="camera-lookat-z" type="number" step="1" value="0"><br>
    <button id="update-camera">Update Camera</button>
</div>

{% include 'database/tournament_modal.html' %}

<script type="module" src="{% static 'pong3d.js' %}"></script>
