{% load static %}
<link rel="stylesheet" href="{% static 'pong/css/style.css' %}"><title>Pong 3D</title>
<div id="container_game" class="container ratio ratio-16x9 shadow bg-body-primary mx-auto px-0" style="max-width=98%">
</div>
<div id="camera-control-panel">
    <h3>Camera Control</h3>
    <label for="camera-pos-x">Pos X:</label>
    <input id="camera-pos-x" type="number" step="1" value="0"><br>
    <label for="camera-pos-y">Pos Y:</label>
    <input id="camera-pos-y" type="number" step="1" value="0"><br>
    <label for="camera-pos-z">Pos Z:</label>
    <input id="camera-pos-z" type="number" step="1" value="0"><br>
    <label for="camera-lookat-x">LookAt X:</label>
    <input id="camera-lookat-x" type="number" step="1" value="0"><br>
    <label for="camera-lookat-y">LookAt Y:</label>
    <input id="camera-lookat-y" type="number" step="1" value="0"><br>
    <label for="camera-lookat-z">LookAt Z:</label>
    <input id="camera-lookat-z" type="number" step="1" value="0"><br>
    <button id="update-camera">Update Camera</button>
</div>
<script type="module" src="{% static 'pong3d.js' %}"></script>
