<div id="pong">
	<div class="gameScreen row">
        <!-- Colonne pour l'équipe de gauche -->
        <div class="col-md-1 d-flex justify-content-center align-items-center">
            <ul id="leftTeam">
            </ul>
        </div>

        <!-- Colonne pour le canvas, centrée et prenant plus d'espace -->
        <div class="col-md-10 d-flex justify-content-center align-items-center">
            <canvas id="gameCanvas"></canvas>
        </div>

        <!-- Colonne pour l'équipe de droite -->
        <div class="col-md-1 d-flex justify-content-center align-items-center">
            <ul id="rightTeam">
            </ul>
        </div>
    </div>
	<p class="p-4" id="playerCount">player: 0/0</p>
	<div class="p-4">
		<input id="game_id" value="1234" />
	</div>
	<button id="startGame" onclick="startGame()" class="btn btn-primary">Start Game</button>
	<button id="pauseGame" onclick="pauseGame()" class="btn btn-primary">Pause Game</button>
	<div class="m-4">
		<button id="joinLeftTeam" onclick="joinLeftTeam()" class="btn btn-primary">Join left team</button>
		<button id="joinRightTeam" onclick="joinRightTeam()" class="btn btn-primary">Join right team</button>
	</div>
	<div id="gameOver">
		<h1>Game Over</h1>
		<button id="playAgain" onclick="stopGame()">Play Again</button>

		<div id="score">
			<h2>Score: <span id="scoreValue">0</span></h2>
		</div>
	</div>
</div>

<div id="pong3d">

</div>

<div id="camera-control-panel">
    <h3>Camera Control</h3>
    <label for="camera-pos-x">Pos X:</label>
    <input id="camera-pos-x" type="number" step="1" value="0"><br>
    <label for="camera-pos-y">Pos Y:</label>
    <input id="camera-pos-y" type="number" step="1" value="0"><br>
    <label for="camera-pos-z">Pos Z:</label>
    <input id="camera-pos-z" type="number" step="1" value="0"><br>
    <label for="camera-lookat-x">LookAt X:</label>
    <input id="camera-lookat-x" type="number" step="1" value="0"><br>
    <label for="camera-lookat-y">LookAt Y:</label>
    <input id="camera-lookat-y" type="number" step="1" value="0"><br>
    <label for="camera-lookat-z">LookAt Z:</label>
    <input id="camera-lookat-z" type="number" step="1" value="0"><br>
    <button id="update-camera">Update Camera</button>
</div>

