<div class="modal fade" id="createTournament" tabindex="-1" aria-labelledby="createTournamentModalPage" aria-hidden="true" style="color: #000">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="createTournamentModalPage">Let's play ! </h5>
			<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form id="createTournamentForm">
				{% csrf_token %}
				<label for="tournamentName" class="form-label">Tournament name</label>
				<input type="text" class="form-control" id="tournamentName" name="tournamentName" required>

				<label for="nb_player_per_team" class="form-label">Number of player per team</label>
				<input type="number" class="form-control" id="nb_player_per_team" name="nb_player_per_team" min="2" required>
	
				<label for="nb_team" class="form-label">Number of team</label>
				<input type="number" class="form-control" id="nb_team" name="nb_team" min="4" step="2" required>

				<input type="submit" class="btn btn-primary m-4" value="Create" />
			</form>
		</div>
		</div>
	</div>
	</div>
	
	<script>
		document.getElementById('nb_player_per_team').addEventListener('change', function(e) {
			document.getElementById('nb_team').setAttribute('step', e.target.value);
			document.getElementById('nb_team').setAttribute('min', e.target.value * 2);
		});
		document.getElementById('createTournamentForm').addEventListener('submit', function(e) {
			e.preventDefault();
			var form = document.getElementById('createTournamentForm');
			var formData = new FormData(form);
			
			createTournament(formData);
			
		});
	</script>