main {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#container_game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    width: 1280px;
    height: 720px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

canvas {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
}
