<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="createAccountModalPage" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="createAccountModalPage">Please, tel us who you are</h5>
			<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			{% comment %} <form method="POST" action="{% url 'account_create' %}"> {% endcomment %}
			<form method="POST">
				{% csrf_token %}
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="username" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" name="email" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				<div class="mb-3">
					<label for="confirm_password" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
				</div>
				<button type="submit" class="btn btn-primary">Create Account</button>
			</form>
		</div>
		</div>
	</div>
	</div>
	  