<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalPage" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="loginModalPage">Welcome back!</h5>
		<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		{% comment %} <form method="POST" action="{% url 'account_create' %}"> {% endcomment %}
		<form method="POST">
			{% csrf_token %}
			<div class="mb-3">
				<label for="username" class="form-label">Username/Email</label>
				<input type="text" class="form-control" id="username" name="username" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
	</div>
</div>
</div>
  