{% load static %}



{% if not user.is_authenticated  %}
<div>
	<h2>Log in to play</h2>
	<button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#loginModal">
		Login
	</button>
	<br />
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
		Create account
	</button>
</div>
{% endif %}

{% if user.is_authenticated %}
<button type="button" onclick="logout()">
	Logout
</button>
{% include "searchBar.html" %}
	<p>User connected</p>
	<img src="{% static user.profile_pic.url %}" alt="Profile Picture" style="width: 100px; height: 100px;" id="pp">
	<p>Username: {{ user.username }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Status: {{ user.status }}</p>
	<p>Total games: {{ user.total_games }}</p>
	<p>Wins: {{ user.total_victories }}</p>
	<p>skin: {{ user.skin }}</p>
	<p>Grade: {{ user.grade }}</p>
	<p>Is online: {{ user.is_online }}</p>
	<p>Is playing: {{ user.is_playing }}</p>

    <form id="profilePictureForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="file" name="profile_pic" id="profile_pic" accept="image/*" required>
        <button type="button" onclick="submitProfilePicture()">Upload Profile Picture</button>
    </form>
	<!-- <form id="profilePictureForm" enctype="multipart/form-data"> -->
	<!-- 	{% csrf_token %} -->
	<!-- 	<input type="hidden" name="username" value={{ user.username }}> -->
	<!-- 	<input type="file" name="profile_pic" accept="image/*" required> -->
	<!-- 	<button type="submit">Upload Profile Picture</button> -->
	<!-- </form> -->

	<div>
		<h2>Change status</h2>
		<textarea id="new_status" placeholder="Status" required>{{ user.status }}</textarea>
		<button onclick="changeUserValue('new_status', document.getElementById('new_status').value, '{{ user.username }}')">Change status</button>
	</div>

	<div>
		<h2>Friends list</h2>
		<ul>
			{% for friend in user.friends.all %}
				<li>{{ friend.username }}</li>
			{% endfor %}
		</ul>
		<h2>Friends requests</h2>
		<ul>
			{% for friend in user.friends_requests.all %}
				<li>{{ friend.username }}</li>
			{% endfor %}
		</ul>
	</div>

	<div>
		<h2>add friend</h2>
		<textarea id="add_friend" placeholder="Username of someone" required></textarea>
		<button onclick="changeUserValue('add_friend', document.getElementById('add_friend').value, '{{ user.username }}')">send friend request</button>
	</div>

	<div>
		<h2>Change username</h2>
		<textarea id="new_username" placeholder="UserName" required>{{ user.username }}</textarea>
		<button onclick="changeUserValue('new_username', document.getElementById('new_username').value, '{{ user.username }}')">Change username</button>
	</div>

	<div>
		<h2>Change email</h2>
		<textarea id="email" placeholder="Email" required>{{ user.email }}</textarea>
		<button onclick="changeUserValue('new_email', document.getElementById('email').value, '{{ user.username }}')">Change email</button>
	</div>

	<div>
		<h2>Change password</h2>
		<form id="changePasswordForm">
			{% csrf_token %}
			<input type="hidden" name="username" value={{ user.username }}>
			<input type="password" name="old_password" placeholder="Old password" required>
			<input type="password" name="new_password" placeholder="New password" required>
			<input type="password" name="new_password_confirm" placeholder="Confirm new password" id="new_password_to_send" required>
			<button onclick="changeUserValue('new_password', document.getElementById('new_password_to_send').value, '{{ user.username }}')">Change password</button>
		</form>

{% else %}
	<p>User not connected</p>
{% endif %}

{% include "accountCreation.html" %}
{% include "accountLogin.html" %}
