<div id="accountButton" class="uiButton">
	<em id="accountIcon" class="fa-regular fa-user"></em>
	<br />
	{% if user.is_authenticated %}
		{% include "uiButtons/accountMenu/accountShow.html" %}
	{% else %}
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
		Login
	  </button>
	  <br />
	  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Create account
	  </button>
	  {% include "uiButtons/accountMenu/accountCreation.html" %}
	  {% include "uiButtons/accountMenu/accountLogin.html" %}
	{% endif %}
</div>