<!DOCTYPE html>
<body>
    <div class="container">
        <h1>Start a New Game</h1>
        <form method="post">
            {% csrf_token %}
            <div id="player-formset">
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-secondary" onclick="addPlayerForm()">Add Player</button>
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>

    <script>
        function addPlayerForm() {
            var formCount = document.querySelectorAll('#player-formset .form-group').length;
            var newForm = document.querySelector('#player-formset .form-group').cloneNode(true);
            var formRegex = RegExp('form-(\\d+)-', 'g');
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, 'form-' + formCount + '-');
            document.querySelector('#player-formset').appendChild(newForm);
        }
    </script>
</body>
</html>