{% load static %}

<div class="modal fade" id="modalNewGame" tabindex="-1" aria-labelledby="loginModalPage" aria-hidden="true" style="color: #000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalPage">Game Registeration</h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="form_error"></div>
                    <form id="newGameForm" method="post">
                        {% csrf_token %}
                        <label for="player1_name">Player 1</label>
                        <input type="text" id="player1_name" name="player1_name"
                            {% if user.is_authenticated %}
                                value="{{ user.username }}"
                            {% endif %}
                        >
                        <br>
                        <label for="player2_name">Player 2</label>
                        {{ formGame.player2_name }}
                        <br>
                        <label for="Time">Timer</label>
                        {{ formSettings.timer }}
                        <br>
                        <label for="Score">Points to Win</label>
                        {{ formSettings.max_point }}
                        <br>
                        <label for="Top_spin">Top Spin</label>
                        {{ formSettings.top_spin }}
                        <label for="Back_spin">Back Spin</label>
                        {{ formSettings.top_spin }}
                        <label for="Side_spin">Side Spin</label>
                        {{ formSettings.top_spin }}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitNewGameForm" class="btn btn-primary" form="newGameForm">Start Game</button>
            </div>
        </div>
    </div>
</div>
