{% load static %}
<div class="container">
    <h1>New Tournament</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <div class="form-group">
        <label for="num-players">Number of Players:</label>
        <input type="number" id="num-players" class="form-control" min="1" value="1">
        <button type="button" class="btn btn-secondary mt-2" id="continueBtn">Continue</button>
    </div>
    <form method="post" style="display:none;" id="player-form-container">
        {% csrf_token %}
        <div id="player-formset">
            {{ formset.management_form }}
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <script src="{% static 'js/generatePlayerForms.js' %}"></script>
</div>
